Repository ninoseki/eml_analyzer: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock, uv-sort, ruff, ruff-format, type-check, eslint, prettier, actionlint

lefthook.yml:

pre-commit:
  commands:
    uv-lock:
      glob: "pyproject.toml"
      run: uv lock
    uv-sort:
      glob: "pyproject.toml"
      run: uvx uv-sort
      stage_fixed: true
    ruff:
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true
    type-check:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npm run type-check
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    actionlint:
      glob: ".github/workflows/*.yaml"
      run: actionlint

ci: pin actions
  .github/workflows/deploy.yml
  .github/workflows/node.yml
  .github/workflows/python.yml
Due: none

ci: pin actions (#258)
  .github/workflows/deploy.yml
  .github/workflows/node.yml
  .github/workflows/python.yml
Due: none

fix: set optional dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

Merge if statements
  backend/api/endpoints/cache.py
Due: ruff, ruff-format

Add REDIS_CACHE_LIST_AVAILABLE to readme
  README.md
Due: none

Add flag to toggle cache list visibility (#256)
  README.md
  backend/api/endpoints/cache.py
  backend/settings.py
Due: ruff, ruff-format

chore: update dependencies (#257)
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.app.json
  frontend/tsconfig.node.json
  frontend/tsconfig.vitest.json
  lefthook.yml
  pyproject.toml
  requirements.txt
  uv.lock
Due: uv-lock, uv-sort

refactor: replace Bulma with Tailwind + daisyUI
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/CacheItem.vue
  frontend/src/components/DividerItem.vue
  frontend/src/components/EmlItem.vue
  frontend/src/components/ErrorMessage.vue
  frontend/src/components/IndicatorButton.vue
  frontend/src/components/LoadingItem.vue
  frontend/src/components/Navbar.vue
  frontend/src/components/NavbarItem.vue
  frontend/src/components/ResponseItem.vue
  frontend/src/components/StatusTags.vue
  frontend/src/components/UploadItem.vue
  frontend/src/components/attachments/AttachmentDownloadButton.vue
  frontend/src/components/attachments/AttachmentItem.vue
  frontend/src/components/attachments/AttachmentSubmissionButton.vue
  frontend/src/components/attachments/AttachmentSubmissionNotification.vue
  frontend/src/components/attachments/AttachmentsItem.vue
  frontend/src/components/bodies/BodiesItem.vue
  frontend/src/components/bodies/BodyItem.vue
  frontend/src/components/bodies/ContentItem.vue
  frontend/src/components/headers/BasicHeaders.vue
  frontend/src/components/headers/FlattenHeaders.vue
  frontend/src/components/headers/HeadersItem.vue
  frontend/src/components/headers/HopsItem.vue
  frontend/src/components/headers/OtherHeaders.vue
  frontend/src/components/headers/SecurityHeaders.vue
  frontend/src/components/headers/XHeaders.vue
  frontend/src/components/verdicts/DetailItem.vue
  frontend/src/components/verdicts/VerdictItem.vue
  frontend/src/components/verdicts/VerdictsItem.vue
  frontend/src/main.ts
  frontend/src/style.css
  frontend/vite.config.ts
  frontend/vitest.config.ts
Due: type-check, eslint, prettier

fix: fix vitest config error
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
Due: type-check, eslint, prettier

refactor: replace Bulma with Tailwind + daisyUI (#260)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/CacheItem.vue
  frontend/src/components/DividerItem.vue
  frontend/src/components/EmlItem.vue
  frontend/src/components/ErrorMessage.vue
  frontend/src/components/IndicatorButton.vue
  frontend/src/components/LoadingItem.vue
  frontend/src/components/Navbar.vue
  frontend/src/components/NavbarItem.vue
  frontend/src/components/ResponseItem.vue
  frontend/src/components/StatusTags.vue
  frontend/src/components/UploadItem.vue
  frontend/src/components/attachments/AttachmentDownloadButton.vue
  frontend/src/components/attachments/AttachmentItem.vue
  frontend/src/components/attachments/AttachmentSubmissionButton.vue
  frontend/src/components/attachments/AttachmentSubmissionNotification.vue
  frontend/src/components/attachments/AttachmentsItem.vue
  frontend/src/components/bodies/BodiesItem.vue
  frontend/src/components/bodies/BodyItem.vue
  frontend/src/components/bodies/ContentItem.vue
  frontend/src/components/headers/BasicHeaders.vue
  frontend/src/components/headers/FlattenHeaders.vue
  frontend/src/components/headers/HeadersItem.vue
  frontend/src/components/headers/HopsItem.vue
  frontend/src/components/headers/OtherHeaders.vue
  frontend/src/components/headers/SecurityHeaders.vue
  frontend/src/components/headers/XHeaders.vue
  frontend/src/components/verdicts/DetailItem.vue
  frontend/src/components/verdicts/VerdictItem.vue
  frontend/src/components/verdicts/VerdictsItem.vue
  frontend/src/main.ts
  frontend/src/style.css
  frontend/vite.config.ts
  frontend/vitest.config.ts
Due: type-check, eslint, prettier

feat: show HTML in iframe sandbox
  frontend/src/components/bodies/ContentItem.vue
Due: type-check, eslint, prettier

refactor: misc layout adjustment
  frontend/src/components/ResponseItem.vue
  frontend/src/components/verdicts/VerdictItem.vue
  frontend/src/components/verdicts/VerdictsItem.vue
Due: type-check, eslint, prettier

refactor: misc layout adjustment (#262)
  frontend/src/components/ResponseItem.vue
  frontend/src/components/verdicts/VerdictItem.vue
  frontend/src/components/verdicts/VerdictsItem.vue
Due: type-check, eslint, prettier

chore: zod v4
  frontend/package-lock.json
  frontend/package.json
  frontend/src/schemas.ts
Due: type-check, eslint, prettier

chore: zod v4 (#263)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/schemas.ts
Due: type-check, eslint, prettier

Fix upload item styling
  frontend/src/components/UploadItem.vue
Due: type-check, eslint, prettier

Fix theme switch default value
  frontend/src/components/NavbarItem.vue
Due: type-check, eslint, prettier

feat: show HTML in iframe sandbox (#261)
  frontend/src/components/bodies/ContentItem.vue
Due: type-check, eslint, prettier

Fix theme switch default value (#265)
  frontend/src/components/NavbarItem.vue
Due: type-check, eslint, prettier

Fix upload item styling (#264)
  frontend/src/components/UploadItem.vue
Due: type-check, eslint, prettier

refactor: set default theme
  frontend/src/components/NavbarItem.vue
  frontend/src/style.css
Due: type-check, eslint, prettier

refactor: use useDark & useToggle
  frontend/src/components/NavbarItem.vue
Due: type-check, eslint, prettier

Update NavbarItem.vue
  frontend/src/components/NavbarItem.vue
Due: type-check, eslint, prettier

refactor: set default theme (#266)
  frontend/src/components/NavbarItem.vue
  frontend/src/style.css
Due: type-check, eslint, prettier

refactor: show content-type/filename instead of index
  frontend/src/components/attachments/AttachmentsItem.vue
  frontend/src/components/bodies/BodiesItem.vue
Due: type-check, eslint, prettier

refactor: show content-type/filename instead of index (#268)
  frontend/src/components/attachments/AttachmentsItem.vue
  frontend/src/components/bodies/BodiesItem.vue
Due: type-check, eslint, prettier

Add support for inlined images in HTML body preview
  backend/factories/eml.py
  backend/schemas/eml.py
  frontend/src/components/EmlItem.vue
  frontend/src/components/attachments/AttachmentItem.vue
  frontend/src/components/bodies/BodiesItem.vue
  frontend/src/components/bodies/BodyItem.vue
  frontend/src/components/bodies/ContentItem.vue
  frontend/src/schemas.ts
Due: ruff, ruff-format, type-check, eslint, prettier

Add CSP
  backend/main.py
  frontend/src/components/bodies/ContentItem.vue
  pyproject.toml
  uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format, type-check, eslint, prettier

Fix ruff
  backend/main.py
Due: ruff, ruff-format

refactor: use computed & type props correctly
  frontend/src/components/bodies/BodiesItem.vue
  frontend/src/components/bodies/BodyItem.vue
  frontend/src/components/bodies/ContentItem.vue
Due: type-check, eslint, prettier

test: add test for content-id
  backend/factories/eml.py
  tests/conftest.py
  tests/factories/test_eml.py
  tests/fixtures/content_id.eml
Due: ruff, ruff-format

Add support for inlined images and block remote content by default (#269)
  backend/factories/eml.py
  backend/main.py
  backend/schemas/eml.py
  frontend/src/components/EmlItem.vue
  frontend/src/components/attachments/AttachmentItem.vue
  frontend/src/components/bodies/BodiesItem.vue
  frontend/src/components/bodies/BodyItem.vue
  frontend/src/components/bodies/ContentItem.vue
  frontend/src/schemas.ts
  pyproject.toml
  tests/conftest.py
  tests/factories/test_eml.py
  tests/fixtures/content_id.eml
  uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format, type-check, eslint, prettier

fix: mitigate magic issue
  backend/factories/eml.py
  tests/conftest.py
  tests/factories/test_eml.py
Due: ruff, ruff-format

refactor: stop forking
  backend/factories/eml.py
  backend/outlookmsgfile.py
  backend/outlookmsgfile_wrapper.py
  pyproject.toml
  uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format

fix: mitigate magic issue (#270)
  backend/factories/eml.py
  tests/conftest.py
  tests/factories/test_eml.py
Due: ruff, ruff-format

refactor: stop forking (#271)
  backend/factories/eml.py
  backend/outlookmsgfile.py
  backend/outlookmsgfile_wrapper.py
  pyproject.toml
  uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format

fix: install git
  Dockerfile
  app.Dockerfile
Due: none

fix: install git (#272)
  Dockerfile
  app.Dockerfile
Due: none

refactor: update pytest and use subtest
  pyproject.toml
  tests/factories/test_eml.py
  uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format

ci: remove DeepSource integration
  .deepsource.toml
Due: none
