Repository ninoseki/eml_analyzer: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock, uv-sort, ruff, ruff-format, type-check, eslint, prettier, actionlint

uv-lock:
  run: uv lock

uv-sort:
  run: uvx uv-sort
  stage_fixed: true

ruff:
  run: uv run ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: uv run ruff format {staged_files}
  stage_fixed: true

type-check:
  run: npm run type-check

eslint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

actionlint:
  run: actionlint

feat: use kachi to make protected link unsafe
  backend/utils.py
  pyproject.toml
  uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format

fix: make unsafe after normalize
  backend/utils.py
  tests/test_utils.py
Due: ruff, ruff-format

feat: use kachi to make protected link unsafe (#304)
  backend/utils.py
  pyproject.toml
  tests/test_utils.py
  uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format

add code for whois
  frontend/src/links/index.ts
  frontend/src/links/whois.ts
  frontend/tests/unit/links/whois.spec.ts
Due: type-check, eslint, prettier

rename whois to domaintools
  frontend/src/links/domaintools.ts
  frontend/src/links/index.ts
  frontend/tests/unit/links/domaintools.spec.ts
Due: type-check, eslint, prettier

commit files for abuseipdb
  frontend/src/links/abuseipdb.ts
  frontend/src/links/index.ts
  frontend/tests/unit/links/abuseipdb.spec.ts
Due: type-check, eslint, prettier

add missing replacements
  frontend/tests/unit/links/abuseipdb.spec.ts
Due: type-check, eslint, prettier

chore: update dependencies
  .github/workflows/deploy.yml
  .github/workflows/node.yml
  .github/workflows/python.yml
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  requirements.txt
  uv.lock
Due: uv-lock, uv-sort

chore: update dependencies (#311)
  .github/workflows/deploy.yml
  .github/workflows/node.yml
  .github/workflows/python.yml
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  requirements.txt
  uv.lock
Due: uv-lock, uv-sort

docs: update README
  README.md
Due: none

docs: update README (#312)
  README.md
Due: none

adapt test
  frontend/tests/unit/links/domaintools.spec.ts
Due: type-check, eslint, prettier

adapt code
  frontend/src/links/domaintools.ts
Due: type-check, eslint, prettier

Modify test commands in README.md
  README.md
Due: none

chore: update FastAPI, etc.
  pyproject.toml
  uv.lock
Due: uv-lock, uv-sort

feat: add domaintools link (#308)
  frontend/src/links/domaintools.ts
  frontend/src/links/index.ts
  frontend/tests/unit/links/domaintools.spec.ts
Due: type-check, eslint, prettier

chore: update FastAPI, etc. (#314)
  pyproject.toml
  uv.lock
Due: uv-lock, uv-sort

fix: ignore coveralls error
  .github/workflows/python.yml
Due: none

fix: ignore coveralls error (#316)
  .github/workflows/python.yml
Due: none

refactor: set .npmrc
  .github/workflows/node.yml
  Dockerfile
  app.Dockerfile
  frontend/.npmrc
Due: none

refactor: set .npmrc (#329)
  .github/workflows/node.yml
  Dockerfile
  app.Dockerfile
  frontend/.npmrc
Due: none

ci: update actons
  .github/workflows/python.yml
Due: none

chore: update deps
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: update deps
  pyproject.toml
  requirements.txt
  uv.lock
Due: uv-lock, uv-sort

Update (#335)
  .github/workflows/python.yml
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  requirements.txt
  uv.lock
Due: uv-lock, uv-sort

refactor: test only
  README.md
Due: none

Modify test commands in README.md (#313)
  README.md
Due: none

refactor: remove axios
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api.ts
  frontend/src/components/ErrorMessage.vue
  frontend/src/components/attachments/AttachmentItem.vue
  frontend/src/components/attachments/AttachmentSubmissionButton.vue
  frontend/src/submitters/virustotal.ts
Due: type-check, eslint, prettier

refactor: remove axios (#337)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api.ts
  frontend/src/components/ErrorMessage.vue
  frontend/src/components/attachments/AttachmentItem.vue
  frontend/src/components/attachments/AttachmentSubmissionButton.vue
  frontend/src/submitters/virustotal.ts
Due: type-check, eslint, prettier

chore: update deps
  .github/workflows/deploy.yml
  .github/workflows/node.yml
  .github/workflows/python.yml
  backend/settings.py
  docker-compose.yml
  pyproject.toml
  test.docker-compose.yml
  uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format

fix: add ping
  backend/clients/spamassasin.py
  scripts/ping.py
Due: ruff, ruff-format

fix: use -m
  .github/workflows/python.yml
Due: none

chore: update deps (#345)
  .github/workflows/deploy.yml
  .github/workflows/node.yml
  .github/workflows/python.yml
  backend/clients/spamassasin.py
  backend/settings.py
  docker-compose.yml
  pyproject.toml
  scripts/ping.py
  test.docker-compose.yml
  uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format

refactor: remove dependencies as much as possible
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/IndicatorButton.vue
  frontend/src/components/attachments/AttachmentsItem.vue
  frontend/src/components/bodies/BodiesItem.vue
  frontend/src/links/virustotal.ts
  frontend/src/utils.ts
  frontend/tests/unit/utils.spec.ts
Due: type-check, eslint, prettier

refactor: remove dependencies as much as possible (#346)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/IndicatorButton.vue
  frontend/src/components/attachments/AttachmentsItem.vue
  frontend/src/components/bodies/BodiesItem.vue
  frontend/src/links/virustotal.ts
  frontend/src/utils.ts
  frontend/tests/unit/utils.spec.ts
Due: type-check, eslint, prettier

chore: update dependencies (#361)
  .github/workflows/deploy.yml
  .github/workflows/node.yml
  .github/workflows/python.yml
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  requirements.txt
  uv.lock
Due: uv-lock, uv-sort

refactor: use lifespan
  backend/api/endpoints/analyze.py
  backend/api/endpoints/cache.py
  backend/api/endpoints/lookup.py
  backend/dependencies.py
  backend/main.py
Due: ruff, ruff-format

fix: catch AttributeError
  backend/dependencies.py
Due: ruff, ruff-format

refactor: use lifespan (#363)
  backend/api/endpoints/analyze.py
  backend/api/endpoints/cache.py
  backend/api/endpoints/lookup.py
  backend/dependencies.py
  backend/main.py
Due: ruff, ruff-format

Path conditions:
  uv-lock: any of: pyproject.toml
  uv-sort: any of: pyproject.toml
  ruff: any of: *.py
  ruff-format: any of: *.py
  type-check: any of: *.{js,ts,vue} and ^frontend/
  eslint: any of: *.{js,ts,vue} and ^frontend/
  prettier: any of: *.{js,ts,vue} and ^frontend/
  actionlint: any of: .github/workflows/*.yaml
