Repository ninoseki/eml_analyzer: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock, uv-sort, ruff, ruff-format, type-check, eslint, prettier, actionlint

uv-lock:
  run: uv lock

uv-sort:
  run: uvx uv-sort
  stage_fixed: true

ruff:
  run: uv run ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: uv run ruff format {staged_files}
  stage_fixed: true

type-check:
  run: npm run type-check

eslint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

actionlint:
  run: actionlint

ci: remove DeepSource integration (#279)
  .deepsource.toml
Due: none

refactor: update pytest and use subtest (#278)
  pyproject.toml
  tests/factories/test_eml.py
  uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format

ci: remove CodeFactor
  README.md
Due: none

ci: remove CodeFactor (#280)
  README.md
Due: none

refactor: remove returns
  backend/factories/eml.py
  backend/factories/inquest.py
  backend/factories/oldid.py
  backend/factories/response.py
  backend/factories/spamassassin.py
  backend/factories/urlscan.py
  backend/factories/virustotal.py
  backend/oleid.py
  pyproject.toml
  uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format

fix: add missing commit
  backend/factories/emailrep.py
Due: ruff, ruff-format

ci: update actions
  .github/workflows/deploy.yml
  .github/workflows/node.yml
  .github/workflows/python.yml
Due: none

refactor: remove returns (#281)
  backend/factories/emailrep.py
  backend/factories/eml.py
  backend/factories/inquest.py
  backend/factories/oldid.py
  backend/factories/response.py
  backend/factories/spamassassin.py
  backend/factories/urlscan.py
  backend/factories/virustotal.py
  backend/oleid.py
  pyproject.toml
  uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format

ci: update actions (#282)
  .github/workflows/deploy.yml
  .github/workflows/node.yml
  .github/workflows/python.yml
Due: none

refactor: remove pyhumps
  backend/schemas/api_model.py
  pyproject.toml
  uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format

refactor: remove pyhumps (#283)
  backend/schemas/api_model.py
  pyproject.toml
  uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format

chore: update frontend deps
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/EmlItem.vue
  frontend/src/components/NavbarItem.vue
  frontend/src/components/ResponseItem.vue
  frontend/src/components/StatusTags.vue
  frontend/src/components/UploadItem.vue
  frontend/src/components/attachments/AttachmentItem.vue
  frontend/src/components/attachments/AttachmentSubmissionButton.vue
  frontend/src/components/attachments/AttachmentSubmissionNotification.vue
  frontend/src/components/attachments/AttachmentsItem.vue
  frontend/src/components/bodies/BodiesItem.vue
  frontend/src/composables/useStatus.ts
  frontend/src/main.ts
  frontend/src/store.ts
  frontend/src/utils.ts
Due: type-check, eslint, prettier

chore: update frontend deps (#284)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/EmlItem.vue
  frontend/src/components/NavbarItem.vue
  frontend/src/components/ResponseItem.vue
  frontend/src/components/StatusTags.vue
  frontend/src/components/UploadItem.vue
  frontend/src/components/attachments/AttachmentItem.vue
  frontend/src/components/attachments/AttachmentSubmissionButton.vue
  frontend/src/components/attachments/AttachmentSubmissionNotification.vue
  frontend/src/components/attachments/AttachmentsItem.vue
  frontend/src/components/bodies/BodiesItem.vue
  frontend/src/composables/useStatus.ts
  frontend/src/main.ts
  frontend/src/store.ts
  frontend/src/utils.ts
Due: type-check, eslint, prettier

refactor: remove InQuest integration
  README.md
  backend/__init__.py
  backend/api/endpoints/analyze.py
  backend/api/endpoints/status.py
  backend/api/endpoints/submit.py
  backend/clients/__init__.py
  backend/clients/inquest.py
  backend/dependencies.py
  backend/factories/__init__.py
  backend/factories/inquest.py
  backend/factories/response.py
  backend/schemas/__init__.py
  backend/schemas/inquest.py
  backend/schemas/status.py
  backend/settings.py
  frontend/src/components/StatusTags.vue
  frontend/src/components/attachments/AttachmentItem.vue
  frontend/src/links/index.ts
  frontend/src/links/inquest.ts
  frontend/src/schemas.ts
  frontend/src/submitters/index.ts
  frontend/src/submitters/inquest.ts
  frontend/tests/unit/links/inquest.spec.ts
  tests/api/endpoints/test_submit.py
  tests/factories/test_inquest.py
  tests/fixtures/vcr_cassettes/inquest.yaml
Due: ruff, ruff-format, type-check, eslint, prettier

refactor: remove InQuest integration (#285)
  README.md
  backend/__init__.py
  backend/api/endpoints/analyze.py
  backend/api/endpoints/status.py
  backend/api/endpoints/submit.py
  backend/clients/__init__.py
  backend/clients/inquest.py
  backend/dependencies.py
  backend/factories/__init__.py
  backend/factories/inquest.py
  backend/factories/response.py
  backend/schemas/__init__.py
  backend/schemas/inquest.py
  backend/schemas/status.py
  backend/settings.py
  frontend/src/components/StatusTags.vue
  frontend/src/components/attachments/AttachmentItem.vue
  frontend/src/links/index.ts
  frontend/src/links/inquest.ts
  frontend/src/schemas.ts
  frontend/src/submitters/index.ts
  frontend/src/submitters/inquest.ts
  frontend/tests/unit/links/inquest.spec.ts
  tests/api/endpoints/test_submit.py
  tests/factories/test_inquest.py
  tests/fixtures/vcr_cassettes/inquest.yaml
Due: ruff, ruff-format, type-check, eslint, prettier

chore: update Python deps
  pyproject.toml
  requirements.txt
  uv.lock
Due: uv-lock, uv-sort

refactor: use uvicorn_worker
  app.Dockerfile
Due: none

Up (#290)
  app.Dockerfile
  pyproject.toml
  requirements.txt
  uv.lock
Due: uv-lock, uv-sort

ci: update actions (#289)
  .github/workflows/deploy.yml
  .github/workflows/node.yml
  .github/workflows/python.yml
Due: none

chore: update Python and Node.js
  .github/workflows/python.yml
  Dockerfile
  app.Dockerfile
  pyproject.toml
  uv.lock
Due: uv-lock, uv-sort

chore: update Python and Node.js (#291)
  .github/workflows/python.yml
  Dockerfile
  app.Dockerfile
  pyproject.toml
  uv.lock
Due: uv-lock, uv-sort

refactor: rootless (nobody) Dockerfile
  Dockerfile
  circus.ini
Due: none

refactor: rootless (nobody) Dockerfile (#292)
  Dockerfile
  circus.ini
Due: none

chore: update NPM package
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.node.json
Due: none

chore: update NPM package (#293)
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.node.json
Due: none

feat: add DKIM verdiction
  backend/factories/__init__.py
  backend/factories/dkim_.py
  backend/factories/response.py
  pyproject.toml
  tests/conftest.py
  tests/factories/test_dkim.py
  tests/fixtures/emails/dkim/invalid.eml
  tests/fixtures/emails/dkim/no_signature.eml
  tests/fixtures/emails/dkim/valid.eml
Due: uv-lock, uv-sort, ruff, ruff-format

fix: update lockfile
  uv.lock
Due: none

fix: fix typo
  tests/conftest.py
Due: ruff, ruff-format

chore: update frontend deps
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: update frontend deps (#296)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: fix typo
  Dockerfile
Due: none

fix: fix typo (#297)
  Dockerfile
Due: none

ci: use heroku user
  heroku.yml
Due: none

fix: use 65534
  Dockerfile
  heroku.yml
Due: none

Add DKIM support (#295)
  backend/factories/__init__.py
  backend/factories/dkim_.py
  backend/factories/response.py
  pyproject.toml
  tests/conftest.py
  tests/factories/test_dkim.py
  tests/fixtures/emails/dkim/invalid.eml
  tests/fixtures/emails/dkim/no_signature.eml
  tests/fixtures/emails/dkim/valid.eml
  uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format

fix: remove version
  test.docker-compose.yml
Due: none

fix: remove version (#298)
  test.docker-compose.yml
Due: none

docs: remove deploy to Heroku button
  README.md
Due: none

Path conditions:
  uv-lock: any of: pyproject.toml
  uv-sort: any of: pyproject.toml
  ruff: any of: *.py
  ruff-format: any of: *.py
  type-check: any of: *.{js,ts,vue} and ^frontend/
  eslint: any of: *.{js,ts,vue} and ^frontend/
  prettier: any of: *.{js,ts,vue} and ^frontend/
  actionlint: any of: .github/workflows/*.yaml
