Repository ninoseki/eml_analyzer: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock, uv-sort, ruff, ruff-format, type-check, eslint, prettier, actionlint

lefthook.yml:

pre-commit:
  commands:
    uv-lock:
      glob: "pyproject.toml"
      run: uv lock
    uv-sort:
      glob: "pyproject.toml"
      run: uvx uv-sort
      stage_fixed: true
    ruff:
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true
    type-check:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npm run type-check
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    actionlint:
      glob: ".github/workflows/*.yaml"
      run: actionlint

feat: restrict uploads to EML and MSG files
  frontend/src/components/UploadItem.vue
Due: type-check, eslint, prettier

fix: stop including input in error message
  backend/api/endpoints/analyze.py
  pyproject.toml
Due: uv-lock, uv-sort, ruff, ruff-format

refactor: renew error message
  frontend/src/components/ErrorMessage.vue
  frontend/src/components/UploadItem.vue
Due: type-check, eslint, prettier

ci: update actions
  .github/workflows/node.yml
  .github/workflows/python.yml
Due: none

ci: update actions (#367)
  .github/workflows/node.yml
  .github/workflows/python.yml
Due: none

File validation (#366)
  backend/api/endpoints/analyze.py
  frontend/src/components/ErrorMessage.vue
  frontend/src/components/UploadItem.vue
  pyproject.toml
Due: uv-lock, uv-sort, ruff, ruff-format, type-check, eslint, prettier

chore: update dependencies
  frontend/package-lock.json
  frontend/package.json
  frontend/src/links/index.ts
  frontend/tests/unit/links/domaintools.spec.ts
  pyproject.toml
  requirements.txt
  uv.lock
Due: uv-lock, uv-sort, type-check, eslint, prettier

chore: update dependencies (#368)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/links/index.ts
  frontend/tests/unit/links/domaintools.spec.ts
  pyproject.toml
  requirements.txt
  uv.lock
Due: uv-lock, uv-sort, type-check, eslint, prettier

feat: restrict uploads to EML and MSG files (#365)
  frontend/src/components/UploadItem.vue
Due: type-check, eslint, prettier

fix: fix SPAMD errors
  .dockerignore
  Dockerfile
  circus.ini
Due: none

fix: fix SPAMD errors (#369)
  .dockerignore
  Dockerfile
  circus.ini
Due: none

refactor: make circus optional
  Dockerfile
  pyproject.toml
  uv.lock
Due: uv-lock, uv-sort

chore: update actions
  .github/workflows/deploy.yml
  .github/workflows/node.yml
  .github/workflows/python.yml
Due: none

Circus (#370)
  .github/workflows/deploy.yml
  .github/workflows/node.yml
  .github/workflows/python.yml
  Dockerfile
  pyproject.toml
  uv.lock
Due: uv-lock, uv-sort

ci: publish image on release
  .github/workflows/publish.yml
Due: none

ci: publish image on release (#371)
  .github/workflows/publish.yml
Due: none

chore: update Python
  .github/workflows/python.yml
  Dockerfile
  app.Dockerfile
  pyproject.toml
  requirements.txt
  uv.lock
Due: uv-lock, uv-sort

chore: sync lockfile
  uv.lock
Due: none

docs: update README
  README.md
Due: none

fix: apply ruff
  backend/datastructures.py
Due: ruff, ruff-format

fix: drop syncer
  pyproject.toml
  scripts/ping.py
  tests/conftest.py
  uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format

chore: update secweb
  backend/main.py
  pyproject.toml
  uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format

Update aug (#372)
  .github/workflows/python.yml
  Dockerfile
  README.md
  app.Dockerfile
  backend/datastructures.py
  backend/main.py
  pyproject.toml
  requirements.txt
  scripts/ping.py
  tests/conftest.py
  uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format

refactor: don't use WASM in Shiki
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/bodies/ContentItem.vue
  frontend/src/shiki.ts
Due: type-check, eslint, prettier

refactor: don't use WASM in Shiki (#379)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/bodies/ContentItem.vue
  frontend/src/shiki.ts
Due: type-check, eslint, prettier

chore: update actions & backend dependencies
  .github/workflows/publish.yml
  .github/workflows/python.yml
  backend/api/endpoints/lookup.py
  backend/main.py
  docker-compose.yml
  pyproject.toml
  requirements.txt
  test.docker-compose.yml
  tests/conftest.py
  uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format

chore: update actions & backend dependencies (#380)
  .github/workflows/publish.yml
  .github/workflows/python.yml
  backend/api/endpoints/lookup.py
  backend/main.py
  docker-compose.yml
  pyproject.toml
  requirements.txt
  test.docker-compose.yml
  tests/conftest.py
  uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format

Make SpamAssasin optional, fix types
  backend/api/endpoints/analyze.py
  backend/datastructures.py
  backend/dependencies.py
  backend/factories/response.py
Due: ruff, ruff-format

Lint
  backend/factories/response.py
  backend/utils.py
Due: ruff, ruff-format

Lint
  backend/utils.py
Due: ruff, ruff-format

Apparently this is not needed in new python versions
  backend/datastructures.py
Due: ruff, ruff-format

Make SpamAssasin optional, fix types (#381)
  backend/api/endpoints/analyze.py
  backend/dependencies.py
  backend/factories/response.py
Due: ruff, ruff-format

Fix docs endpoints CSP issues
  backend/main.py
  pyproject.toml
  uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format

Pin package
  pyproject.toml
  uv.lock
Due: uv-lock, uv-sort

Fix docs endpoints CSP issues (#383)
  backend/main.py
  pyproject.toml
  uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format

refactor: TS v7
  Dockerfile
  frontend/package-lock.json
  frontend/package.json
Due: none
